Pipfile.lock
.idea
__pycache__/
.DS_Store
venv/
.env
data/full_dataset
data/raw_dataset
data/3DRecon
data/test_background
data/preprocessed_full_dataset
threestudio/
prediction_venv
DECA/data/FLAME_albedo_from_BFM.npz
DECA/data/deca_model.tar
DECA/data/generic_model.pkl
DECA.zip

